<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/changepassword/">change password</a><br>
<a href="/myapp/adddepartment">add department</a><br>
<a href="/myapp/viewdepartment">view department</a><br>
<a href="/myapp/addcourse">add course</a><br>
<a href="/myapp/viewcourse">view course</a><br>
<a href="/myapp/addstudent">add student</a><br>
<a href="/myapp/viewstudent">view student</a><br>
<a href="/myapp/addstaff/">addstaff</a><br>
<a href="/myapp/viewstaff/">viewstaff</a><br>
<a href="/myapp/addauthority">add authority</a><br>
<a href="/myapp/viewauthority">view authority</a><br>
<a href="/myapp/addincident">add incident</a><br>
<a href="/myapp/viewincident">view incident</a><br>
<a href="/myapp/attendance">attendance monitoring</a><br>
<a href="/myapp/viewfeedback">view feedback</a><br>
<a href="/myapp/viewcomplaint">view complaint and send reply</a><br>
</body>
</html>