


{% extends 'admin/Admin_index.html' %}
{% block body %}





<fieldset>
<form  action="/myapp/changepassword_post/" method="post">
{% csrf_token %}
  <div class="container">


<table  class="table table-hover table-bordered table-stripped">
       <tr>
           <th> <label for="uname"><b>Old Password</b></label></th>
           <td>    <input type="text" class="form-control" placeholder="Enter Old Password" name="textfield" required class="text-center" ></td>
       </tr>

   <tr>
        <th><label for="psw"><b>New Password</b></label></th>
        <td><input class="form-control" type="password" placeholder="Enter New Password" name="textfield2" required class="text-center" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" /></td></td>
   </tr>

       <tr>
           <th> <label for="psw"><b>Confirm Password</b></label></th>
           <td>    <input class="form-control" type="password" placeholder="Enter Confirm Password" name="textfield3" required class="text-center"></td>

       </tr>


   </table>
      <div class="text-center">
          <input type="submit"  value="submit" class="btn btn-success ">
      </div>
 </div>
              <br>



</form>

{#<script>#}
{#    function  oldpass() {#}
{#        let old=docReady()#}
{#        #}
{#    }#}
{#</script>#}
{#</fieldset>#}


<script>
    function validateForm() {
        var currentPassword = document.getElementById("currentPassword").value;
        var newPassword = document.getElementById("newPassword").value;
        var confirmPassword = document.getElementById("confirmPassword").value;

        // Add your validation logic here
        if (currentPassword === "") {
            alert("Please enter the current password.");
            return false;
        }

        if (newPassword === "") {
            alert("Please enter the new password.");
            return false;
        }

        if (newPassword !== confirmPassword) {
            alert("New password and confirm password do not match.");
            return false;
        }

        // You can add more complex password validation logic here if needed.

        // If all validations pass, submit the form
        document.getElementById("form1").submit();
    }
</script>





</body>
{% endblock %}


















