<form action="" method="get"></form><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends 'admin/Admin_index.html' %}
{% block body %}
<body>
<form name="form1" method="post" action="/myapp/adddepartment_post/#mu-features">
    {% csrf_token %}

  <table class="table table-bordered table-hover">
    <tr>
      <th>Department</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield"class="form-control" required></td>
    </tr>
    <tr>
      <td align="center" colspan="2"><input type="submit" name="button" id="button" value="Submit"class="btn btn-success"></td>
    </tr>
  </table>
</form>
{% endblock %}

</body>
</html>
