<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends 'admin/Admin_index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/myapp/addstudentpost/#mu-features" enctype="multipart/form-data">
    {% csrf_token %}
  <table class="table table-bordered table-hover">
    <tr>
      <th>Name</th>
      <td>
      <input type="text" name="textfield" id="textfield" class="form-control" required pattern="[A-Z a-z]+"/></td>
    </tr>
    <tr>
      <th>Phone No</th>
      <td>
      <input type="text" name="textfield2" id="textfield2"class="form-control" required pattern="[9876][0-9]{9}" maxlength="10"/></td>
    </tr>
    <tr>
      <th>Email</th>
      <td>
      <input type="email" name="textfield3" id="textfield3" class="form-control" required/></td>
    </tr>
    <tr>
      <th>Dob</th>
      <td>
      <input type="date" name="textfield4" max="{{ date|date:'Y-m-d' }}" id="textfield4"class="form-control" required/></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td><p>
        <label>
          <input type="radio" name="RadioGroup1" value="male" id="RadioGroup1_0"checked />
          Male</label>
        <br />
        <label>
          <input type="radio" name="RadioGroup1" value="female" id="RadioGroup1_1" />
          Female</label>
        <br />
        <label>
          <input type="radio" name="RadioGroup1" value="others" id="RadioGroup1_2" />
          Others</label>
        <br />
      </p></td>
    </tr>
    <tr>
      <th>Photo</th>
      <td>
      <input type="file" name="textfield5" id="textfield5"class="form-control" /></td>
    </tr>
    <tr>
      <th>Housename</th>
      <td>
      <input type="text" name="textfield6" id="textfield6"class="form-control" required/></td>
    </tr>
    <tr>
      <th>Place</th>
      <td>
      <input type="text" name="textfield7" id="textfield7"class="form-control" required/></td>
    </tr>
    <tr>
      <th>City</th>
      <td>
      <input type="text" name="textfield8" id="textfield8"class="form-control" required/></td>
    </tr>
    <tr>
      <th>Post</th>
      <td>
      <input type="text" name="textfield9" id="textfield9"class="form-control" required/></td>
    </tr>
    <tr>
      <th>Pin</th>
      <td>
      <input type="text" name="textfield10" id="textfield10"class="form-control" required pattern="[0-9]{6}" maxlength="6"/></td>
    </tr>
    <tr>
      <th>State</th>
      <td>
      <input type="text" name="textfield11" id="textfield11"class="form-control" required/></td>
    </tr>
    <tr>
      <th>Guardian name</th>
      <td>
      <input type="text" name="textfield12" id="textfield12"class="form-control" required pattern="[A-Z a-z]+"/></td>
    </tr>
    <tr>
      <th>Guardian email</th>
      <td>
      <input type="email" name="textfield13" id="textfield13" class="form-control" required /></td>
    </tr>
    <tr>
      <th>Guardian phn no</th>
      <td>
      <input type="text" name="textfield14" id="textfield14" class="form-control" required pattern="[9876][0-9]{9}" maxlength="10"/></td>
    </tr>
    <tr>
      <th>Course</th>
      <td>
        <select name="select" id="select" class="form-control">
            {% for i in data %}
                <option value="{{ i.id }}">{{ i.coursename }}</option>
            {% endfor %}
        </select>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Submit" class="btn btn-success" /></td>
    </tr>
  </table>
</form>
{% endblock %}

</body>
</html>
