<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends 'admin/Admin_index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/myapp/attendancepost/#mu-features">
{% csrf_token %}
  <table class="pull-left">
    <tr>
      <td>from</td>
      <td><label for="textfield"></label>
      <input type="date" name="textfield" id="textfield" class="form-control"required /></td>
      <td>to</td>
      <td><label for="textfield2"></label>
      <input type="date" name="textfield2" id="textfield2" class="form-control" required/></td>
      <td><input type="submit" name="button" id="button" value="search"class="btn btn-success" /></td>
    </tr>
  </table>
  <table class="table table-bordered table-hover">
    <tr>
      <td>SL</td>
      <td>date</td>
      <td>time</td>
      <td>student</td>
      <td>attendance</td>
{#      <td>&nbsp;</td>#}
{#      <td>&nbsp;</td>#}
    </tr>
      {% for i in data %}

    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td>&nbsp;{{ i.time }}</td>
      <td>&nbsp;{{ i.STUDENT.name }}</td>
      <td>&nbsp;{{ i.attendance }}</td>
{#      <td><a href="#">edit</a></td>#}
{#      <td><a href="#">delete</a></td>#}
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
{% endblock %}

</body>
</html>
